body {
    margin: 0;
    width: 100vh;
    height: 1000px;
    /* background-color: rgb(32, 32, 32); */
    background-image: url("pictures\night-sky-full-of-stars.jpg");

}

/* #root {
    display: flex;
    
    margin: 2px solid rgb(204, 176, 176);
    
    
} */

