/*css reset*/
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  font-size: 100%;
  font-family: sans-serif;
}

/* div, section, span, ul, li, a, header{
  box-sizing: border-box;
} */


header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: left;
  position: absolute;
  /* z-index: 999; */
}

#menu li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

section{
  width: 100%;
  float:none;
  height: 100vh;
  position: relative;
}

#aboutMars{
 background-image: url("frontend/pictures/gray-sky.jpg");
 width: 100vw;
 height: 100vh;
}

#process{
  background-image: url("frontend\pictures\night-sky-full-of-stars.jpg");
  width: 100%;
}

#buyTickets{
  background-image: url("frontend/pictures/gray-sky.jpg");
  width: 100vw;
  height: 100vh;
}

#Blog{
  background-image: url("frontend/pictures/gray-sky.jpg");
  width: 100vw;
  height: 100vh;
}

#contact{
  background-image: url("frontend/pictures/gray-sky.jpg");
  width: 100vw;
  height: 100vh;
}

/* h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
} */
